{{yield}}


<div class="container">
  <div class="widget">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">

            
              {{#each images key="id" as |image|}}
                <div class="col-md-4">
                  <a href="{{image.url}}" class="thumbnail"> 
                    <img src={{image.url}} style="width:150px;height:150px" />
                  </a>
                </div>
              {{/each}}
        </div>
      </div>
    </div>
</div>