{{outlet}}

<h2>List of Images</h2>

{{file-upload-component}}

{{photo-list}}

<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Title!</strong> Alert body ...
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <a href="#" class="thumbnail">
        <img data-src="#" alt="">
    </a>
</div>