{{outlet}}

<div class="container">
    
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card" >
        <div class="upload-container">
            <h3> Upload images tom my profile</h3>  
            {{file-upload-component  destination="Image_Profile"}}          
        </div>
       </div>
    </div>
</div>


    <div class="row">

        {{extended-profile}}
        
        {{profile-images}}

    </div>
</div>



